body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: azure;
  color: palevioletred;
  font-family: verdana;
  font-size: 100%;
}

h1 {
  color: indigo;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
}

.header,
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}

.button {
  background-color: #9db6fa;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  padding: 10px 16px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
